{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
		integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
	{% block extrahead %}

		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
	{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
	<title>Mekona</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">ГК МЕКОНА</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'mainpage_url' %}">Главная <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'history_url' %}">История<span
								class="sr-only">(current)</span></a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Действия
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">

							
							{% if request.user.is_superuser %}
							<a class="dropdown-item" href="{% url 'task_create_url' %}">Создать задачу</a>
							<div class="dropdown-divider"></div>
								
							{% endif %}
								
							{% if request.user.is_staff %}
							<a class="dropdown-item" href="{% url 'task_list_url' %}">Список задач</a>
								<a class="dropdown-item" href="{% url 'order_list_url' %}">Список заявок</a>
								{% else %}
								<a class="dropdown-item" href="{% url 'order_create_url' %}">Подать заявку</a>
							{% endif %}
							{% if panel and request.user.is_staff %}
							<a class="dropdown-item" href="{{ panel.get_update_url }}"
								style="{% if detail %} display: block;{% else %} display: none;  {% endif %}">Изменить</a>
							<a class="dropdown-item" href="{{ panel.get_delete_url }}"
								style="{% if detail %} display: block;{% else %} display: none; {% endif %}">Удалить</a>
							
							{% endif %}
							
							{% if panel %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" 
							style="{% if detail %} display: block;{% else %} display: none; {% endif %}">Скачать заказ</a>
							<!-- href="{% url 'order_pdf_url' order_id=order.id  %}" -->
							{% endif %}
								
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							
							{% if request.user.first_name %}
								{{request.user.first_name}} {{request.user.last_name}}
							{% else %}
								{{ user.get_username }}
							{% endif %}

								
							
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'profile_detail_url' %}">Личный кабинет</a>
							{% if request.user.is_superuser %}
							<a class="dropdown-item" href="{% url 'admin_tasks_url' %}">Список задач</a>
							{% elif request.user.is_staff %}
							<a class="dropdown-item" href="{% url 'worker_tasks_url' %}">Мои задачи</a>
							{% else %}
							<a class="dropdown-item" href="{% url 'user_orders_detail_url' %}">Мои заказы</a>
							{% endif %}
								
							<a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Выход</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item active mr-sm-2">
						<a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Вход <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link"
							href="{% url 'django_registration_register' %}?next={{request.path}}">Регистрация<span
								class="sr-only">(current)</span></a>
					</li>
					{% endif %}
				</ul>
				<form class="form-inline my-2 my-lg-0" action="">
					<input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search"
						name='search'>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="conteiner mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				{% block content %}
				Здесь ничего нет.
				{% endblock %}


				{% if is_paginated %}


				<nav aria-label="...">
					<ul class="pagination">

						<li class="">
							<a class="page-link" href="" tabindex="-1" aria-disabled="true">Назад</a>
						</li>

						{% for i in notes.paginator.page_range %}


						{% if notes.number == i %}
						<li class="page-item active" aria-current="page">
							<a class="page-link" href="?page={{i}}">{{i}}<span class="sr-only">(current)</span></a>
						</li>

						{% elif i > notes.number|add:-3 and i < notes.number|add:3  %}

						<li class="page-item">
							<a class="page-link" href="?page={{i}}">{{ i }}</a>
						</li>

						{% endif %}
						{% endfor %}

						<li class="page-item {{% if not next_url %} disabled {% endif %}">
							<a class="page-link" href="{{next_url}}">Вперед</a>
						</li>
					</ul>
				</nav>
				{% endif %}
			</div>
		</div>
		<footer class="footer mt-5">
			<div class="row justify-content-center">
				<p>©2020 ГК "МЕКОНА"</p>
			</div>
		</footer>
	</div>


</body>

</html>