{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <h2>История ГК "МЕКОНА"</h2>
</div>

<h4><strong>О нас в прессе:</strong></h4>
<p>Воздушные контролеры</p>
<p>За что нас любят дорожники</p>
<p>
    Под высоким напряжением ответственности
</p>
<p>
    Каждый третий киловатт-час поступает в Москву по энергосетям, возведенным ОАО "МеКона"
</p>


<div class="row justify-content-center">
    <div class="col-5">
        <img src="https://static.wixstatic.com/media/600f4a_c44dceb0a43a41348939db48c011237e~mv2_d_1388_2580_s_2.jpg/v1/fill/w_768,h_1412,al_c,q_85,usm_0.66_1.00_0.01/%D0%92%D0%9B%D0%90%D0%94%D0%98%D0%9C%D0%98%D0%A0%2019771.webp"
            class="img-fluid" alt="Responsive image">
        <img src="https://static.wixstatic.com/media/600f4a_bcc8b08943ce42b88b9e9b8d7044dd44~mv2_d_1936_2690_s_2.jpg/v1/fill/w_770,h_1056,al_c,q_85,usm_0.66_1.00_0.01/%D0%9A%D0%A3%D0%99%D0%91%D0%AB%D0%A8%D0%95%D0%92%2019721.webp"
            class="img-fluid mt-5" alt="Responsive image">
    </div>
    <div class="col-7">
        <img src="https://static.wixstatic.com/media/600f4a_a04e3e685ed546a2ab75ea1e7afb3137~mv2_d_1728_1354_s_2.jpg/v1/fill/w_1018,h_784,al_c,q_85,usm_0.66_1.00_0.01/%D0%9A%D0%9E%D0%9D%D0%90%D0%9A%D0%9E%D0%92%D0%9E-%D0%91_%20%D0%A0%D0%90%D0%A1%D0%A22.webp"
            class="img-fluid" alt="Responsive image">
        <img src="https://static.wixstatic.com/media/600f4a_282715cdb9e9406d8a79e07525da1603~mv2_d_1934_1382_s_2.jpg/v1/fill/w_1018,h_706,al_c,q_85,usm_0.66_1.00_0.01/%D0%9C%D0%90%D0%A0%D0%A2%2019662.webp"
            class="img-fluid mt-5" alt="Responsive image">
        <img src="https://static.wixstatic.com/media/600f4a_5e93152463724c889606395e60e0b0f1~mv2_d_2492_1848_s_2.jpg/v1/fill/w_1012,h_742,al_c,q_85,usm_0.66_1.00_0.01/%D0%95%D0%9B%D0%95%D0%A6%2019771.webp"
            class="img-fluid mt-4" alt="Responsive image">
    </div>
</div>
{% endblock content %}