{% extends 'base.html' %}

{% block content %}



<div class="row justify-content-center">

    <img class="img-fluid"
        src='https://static.wixstatic.com/media/600f4a_1f31ad652e674141a54763e755f4ab26~mv2.jpg/v1/fill/w_1024,h_479,al_c,q_85/66_full.webp'>
</div>


<div class="row justify-content-center">
    <h4>Строительство, реконструкция и эксплуатация линий электропередач</h1>
        <p>Строительство ЛЭП является единственным наиболее рациональным способом обеспечения электроэнергией
            удаленных населенных пунктов и производственных объектов. Высоковольтные электросети позволяют снизить
            потери при передаче, а значит, и расходы и стоимость за единицу расчета.</p>
</div>

<div class="row justify-content-center">
    <h1>Подробнее о нас</h1>
</div>
<div class="row justify-content-center">
    <p>ГК "МЕКОНА" занимается проектированием и строительством объектов энергетики. За годы динамичного развития
        пройден путь от небольшой фирмы до группы компаний, с полным пакетом необходимых лицензий и сертификатов.
        Персонал группы компаний имеет высокую квалификацию и большой опыт реализации сложных
        инженерно-технологических решений в области энергетики, строительства, связи и проектирования.</p>
    <p>За время деятельности выполнен большой объем работ в Москве и Московской области:</p>
    <ul>
        <li>Реализованы проекты по вводу в строй новых и реконструкции уже существующих подстанций и ЛЭП;</li>
        <li>Произведены монтаж и пуско-наладочные работы по организации ВЧ связи, цифровым каналам связи, РЗА, ТМ,
            АСУ ТП, АСКУЭ, СКС;</li>
        <li>Построена и сдана в эксплуатацию сеть АЗС.</li>
    </ul>
    <p>Качество работ обеспечивается высокой культурой производства с использованием современных технологий, нового
        спектра оборудования, материалов, инновационных технологических решений и применением комплексного подхода к
        выполнению работ.</p>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-info">История ГК "МЕКОНА"</button>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <h1>Услуги</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <h3>Линии электропередач</h3>
            </div>
            <div class="col-4">
                <h3>Электроподстанции</h3>
            </div>
            <div class="col-4">
                <h3>Аренда строительной техники</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="https://static.wixstatic.com/media/600f4a_bf85ebfeb54c4e3bba0cf77aa100ba19~mv2.jpg/v1/fill/w_602,h_500,al_c,q_80,usm_0.66_1.00_0.01/Power1.webp "
                    class="img-thumbnail" alt="">
            </div>
            <div class="col-4">
                <img src="https://static.wixstatic.com/media/600f4a_87d9c40be25b4be593cb98a83f0e6cce~mv2.jpg/v1/fill/w_602,h_500,al_c,q_80,usm_0.66_1.00_0.01/a3ecd8fa1fceb692a84e22a0398fba8c.webp"
                    class="img-thumbnail" alt="">
            </div>
            <div class="col-4">
                <img src="https://static.wixstatic.com/media/600f4a_e87ad502af3344308a6bc5322a700620~mv2.jpg/v1/fill/w_602,h_500,al_c,q_80,usm_0.66_1.00_0.01/item_192.webp"
                    class="img-thumbnail" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container mt-5">
    <div class="row justify-content-center">

        <h2>Контакты</h2>
    </div>
    <div class="row">

        <div data-packed="true" data-vertical-text="false" style="width: 302px; pointer-events: none;" class="txtNew"
            id="comp-jw6f2a00">
            <p>г. Москва, ул. Чагинская,
                дом 6А</span></p>

            <p>Телефон:&nbsp;+7(495)
                358-81-81&nbsp;</span></p>

            <p>Факс:&nbsp;+7&nbsp;(495)
                358-83-47</span></p>

            <p ">Электронная
                    почта:&nbsp;&nbsp;<a href=" mailto:contact@mekona.ru" target="_self"
                data-content="contact@mekona.ru" data-type="mail">contact@mekona.ru</a></span></span></p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.5576218433625!2d37.80500031592695!3d55.661902880529105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab684bb773c9b%3A0x44a57db0587d93fe!2z0KfQsNCz0LjQvdGB0LrQsNGPINGD0LsuLCA20JAsINCc0L7RgdC60LLQsCwgMTA5Mzgw!5e0!3m2!1sru!2sru!4v1591362322318!5m2!1sru!2sru"
        style="border:0;" width="1000" height="600" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>




</div>

{% endblock content %}