{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-7">

        <form action="{% url 'task_create_url' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}

            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{field.errors}}
            </div>
            {% endif %}
            {% if field.is_hidden %}
            {# Don't render label #}
            {% else %}
            {{ field.label}}
            {% endif %}
            {{ field}}

            {% endfor %}
            <button class="btn btn-primary mt-3" type="submit">Добавить</button>
        </form>
    </div>
</div>




{% endblock content %}